@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DC MUST WIN working with you all ....keep learning      .....keep going 


++++++++++
thats it for today


:::::::::::::::::::::::::::::::::::::::::::::::::::</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
